.thumbnail {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.blockField {
  padding: 16px;
  font-size: 20;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.productPanelButton {
  margin-left: 32px;
}
