@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
	html {
		border: 0;
		margin: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
		margin: 0;
	}
</style>

<html>
<head>
	<title>Account Verified</title>
</head>
<header>
</header>
<body>
<div>
	<h2 style="display: flex; -ms-align-items: center; -o-align-items: center; -webkit-align-items: center; align-items: center; -o-justify-content: center; -webkit-justify-content: center; justify-content: center; padding-top: 30px">
		Your email has been verified
	</h2>
</div>
</body>
</html>