.color-container {
  display: flex;
  padding: 5px;
  border: 0.67px groove;

  height: 25px;
  gap: 5px;
}

.img-color {
  flex: 5;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-color {
  flex: 5;
}

.color-container:hover {
  cursor: pointer;

  border: 1px solid;
  border-color: red;
}

.red {

  border: 1px solid;
  border-color: red;
}