.cart-container {
    display: flex;
    padding: 30px;
    padding-top: 75px;
}

h1 {
    margin: 30px;
    padding-top: 100px;
}

.listItem {
    display: flex;
    flex-direction: column;
    flex: 7;
}

.total-price {
    flex: 3;
}

.item {
    border: 1px groove;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.img-cart-item {
    width: 100px;
    height: 100px;
}

.quantity-cart {
    display: flex;
    align-items: center;
}

.icon-cart-item {
    border: 1px groove;
    width: 28px;
    height: 22px;
    cursor: pointer;
    padding: 1px 2px;
}

.total-price {
    height: 250px;
    border: 1px solid;
    margin-left: 10px;
    padding-left: 100px;
}

.cart-order {
    background: rgb(255, 66, 78);
    height: 50px;
    width: 150px;
    margin-top: 50px;
    color: white;
    border-radius: 10px;
}

.total-list-item {
    margin-top: 30px;
    font-size: 25px;
}